<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>披荆斩棘</title>

    <link rel="stylesheet" type="text/css"  href="resources/framework/bootstrap/css/bootstrap.min.css"/>



</head>
<body>
    <h1>index</h1>
    <!--<div ui-view>-->
        <!--<div ui-view="top"></div>-->
        <!--<div ui-view="main"></div>-->
        <!--<div ui-view="bottom"></div>-->
    <!--</div>-->

<!--<script data-main="resources/javascript/main" src="resources/framework/requirejs/requirejs.js"></script>-->
</body>
</html>